common --announce_rc
common --show_timestamps --verbose_failures

# Enable Bzlmod for every Bazel command
common --enable_bzlmod --noenable_workspace

common --noincompatible_disallow_empty_glob
# Enable Debug Fission
# common --fission=yes
common --compilation_mode=dbg

# Tell Bazel to not detect the CC toolchain automatically from the host machine to improve hermeticity.
# This requires you to declare and register a CC toolchain explicitly.
# common --repo_env=BAZEL_DO_NOT_DETECT_CPP_TOOLCHAIN=1
